<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las cuatro fuerzas de la naturaleza</title>
    <link href="detalle-contacto.component.css" rel="stylesheet">
</head>
<body>

  


<div class="seccion">
  <h2 > {{contacto?.nombre}}</h2>

  <div class="card" id="Descripcion">
    <h4 class="titulo">Descripcion</h4>
    <!-- {{contacto?.email}} -->
  </div>

 

  <div class="card" id="email">
    <h4 class="titulo">Dieta</h4>

    <!-- {{contacto?.email}} -->
    
  </div>

  


    

  <div class="modal-footer">
    <button class="btn btn-purple btn-margin" (click)="eliminarContacto()">Eliminar <i class="bi bi-trash-fill"></i></button>
    
    <button class="btn btn-purple btn-margin" (click)="editarContacto()">Editar <i class="bi bi-pencil-fill"></i></button>
  </div>

</div>
