<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las cuatro fuerzas de la naturaleza</title>
    <link href="detalle-contacto.component.css" rel="stylesheet">
</head>
<body>

  


<div class="seccion">
  <h2 > {{contacto?.nombre}}</h2>

  <div class="card" id="Descripcion">
    <h4 class="titulo">Descripcion</h4>
    <!-- {{contacto?.email}} -->
  </div>

 

  <div class="cardDieta" id="email">
    <h4 class="titulo">Dieta</h4>


    <TABLE>
      <thead>
          
              <TR class="primeraFila">
              <TH class="primeraCeldaTabla"></TH>
              <TH>Desayuno</TH>
              <TH>Media mañana
              <TH>Comida
              <TH>Merienda
              <TH class="ultimaCeldaTabla">Cena
             </TR>
      <tbody>
     <TR><TD class="moradoOscuro">Lunes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Martes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Miércoles</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Jueves</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Viernes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Sábado</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Domingo</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>


  </TABLE>
    <!-- {{contacto?.email}} -->
    
  </div>

  


    

  <div class="modal-footer">
    <button class="btn btn-purple btn-margin" (click)="eliminarContacto()">Eliminar <i class="bi bi-trash-fill"></i></button>
    
    <button class="btn btn-purple btn-margin" (click)="editarContacto()">Editar <i class="bi bi-pencil-fill"></i></button>
  </div>

</div>
