<body>
<title>ByteBandits</title>
<div class="container">
  <div>
    <div>
      <h1>DIETAS</h1>
      <div class="list-group">
        <button *ngFor="let dieta of dietas"
          class="list-group-item list-group-item-action"
          (click)="elegirDieta(dieta)"
          [class.active]="dieta === dietaElegida">{{dieta.nombre}}
        </button>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary bi bi-plus-lg mb-4" (click)="aniadirDieta()"></button>
    </div>
   
    <div class="col" *ngIf="dietaElegida">
      <app-detalle-contacto [dieta]="dietaElegida"
        (dietaEditada)="dietaEditada($event)"
        (dietaEliminada)="eliminarDieta($event)">
      </app-detalle-contacto>

        <!--<aside id="columna">
    
          Dietas saludables
          <iframe width="160" height="85" 
          src="https://www.youtube.com/embed/kAaJpo2VZec?autohide=2"  
          allowfullscreen>
          </iframe>
          <br>
          <br>
          <br>
          <br>
          <br>
          Mejores alimentos para bajar de peso
          <iframe width="160" height="85" 
              src="https://www.youtube.com/embed/vDZ18bAtZIk?autohide=2"  
              allowfullscreen>
          </iframe>
        </aside>-->
    </div>
  </div>
</div>

</body>
