<div class="container">
  <h2>{{dieta?.nombre}}</h2>

  <div class="card" id="Descripcion">
    <h4 class="titulo">Descripción</h4>
    {{dieta?.descripcion}}
  </div>

  <div class="card" id="Observaciones">
    <h4 class="titulo">Observaciones</h4>
    {{dieta?.observaciones}}
  </div>

  <div class="card" id="Duracion">
    <h4 class="titulo">Duración</h4>
    {{dieta?.duracionDias}}
  </div>

  <div class="card" id="Alimentos">
    <h4 class="titulo">Alimentos</h4>
    {{dieta?.alimentos}}
  </div>

  <div class="card" id="Recomendaciones">
    <h4 class="titulo">Recomendaciones</h4>
    {{dieta?.recomendaciones}}
  </div>
  
  <div class="card" id="usuarioAsociado">
    <h4 class="titulo">Usuario asociado</h4>
    {{ dieta?.usuarioAsociado?.nombre }}
  </div>
  

  

  <div class="modal-footer d-flex justify-content-center" *ngIf="isAdministrador()">
    <button class="btn btn-purple btn-margin m-4" (click)="eliminarDieta()">Eliminar <i class="bi bi-trash-fill"></i></button>
    <button class="btn btn-purple btn-margin m-4" (click)="editarDieta()">Editar <i class="bi bi-pencil-fill"></i></button>
  </div>
</div>
