<div class="container">
  <h2>{{dieta?.nombre}}</h2>

  <div class="card" id="Descripcion">
    <h4 class="titulo">Descripción</h4>
    {{dieta?.descripcion}}
  </div>

  <div class="card" id="Observaciones">
    <h4 class="titulo">Observaciones</h4>
    {{dieta?.observaciones}}
  </div>

  <div class="card" id="Duracion">
    <h4 class="titulo">Duración</h4>
    {{dieta?.duracionDias}}
  </div>

  <div class="card" id="Alimentos">
    <h4 class="titulo">Alimentos</h4>
    {{dieta?.alimentos}}
  </div>

  <div class="card" id="Recomendaciones">
    <h4 class="titulo">Recomendaciones</h4>
    {{dieta?.recomendaciones}}
  </div>
  
  <!--<div class="card" id="email">
    <h4 class="titulo">Dieta</h4>

    <TABLE>
      <thead>
          
              <TR class="primeraFila">
              <TH class="primeraCeldaTabla"></TH>
              <TH>Desayuno</TH>
              <TH>Media mañana
              <TH>Comida
              <TH>Merienda
              <TH class="ultimaCeldaTabla">Cena
             </TR>
      <tbody>
     <TR><TD class="moradoOscuro">Lunes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Martes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Miércoles</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Jueves</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Viernes</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
      <TR><TD class="moradoOscuro">Sábado</TD><TD>2<TD>1200<TD>60<TD>80<TD>90 </TR>
      <TR><TD class="moradoOscuro">Domingo</TD><TD>2<TD>1200<TD>60<TD>80<TD>90</TR>
  </TABLE>
  </div>-->

  

  <div class="modal-footer d-flex justify-content-center" *ngIf="isAdministrador()">
    <button class="btn btn-purple btn-margin m-4" (click)="eliminarDieta()">Eliminar <i class="bi bi-trash-fill"></i></button>
    <button class="btn btn-purple btn-margin m-4" (click)="editarDieta()">Editar <i class="bi bi-pencil-fill"></i></button>
  </div>
</div>
