
h2 {
    font-family: 'MyFrida';
    text-align: center;
    color: rgb(22, 6, 249);  
    padding-top: 8px;
}

.container {
    border: 1px solid #000; /* Ancho del borde y color */
    border-radius: 5px; /* Opcional: para agregar esquinas redondeadas */
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #f1cdf1;
}

.titulo{
    color:rgb(22, 6, 249);  
    justify-content: center;
    align-items: center;
}


.btn-purple {
    background-color: #f1cdf1; /* Color de fondo púrpura */
    color:   rgb(22, 6, 249);   /* Color del texto */
    border-color: rgb(22, 6, 249);   /* Color del borde */
}

/* Estilo de botón púrpura al pasar el ratón */
.btn-purple:hover {
    background-color: rgb(22, 6, 249);   /* Color de fondo púrpura oscuro */
    border-color: rgb(22, 6, 249);   /* Color del borde púrpura oscuro */
    color: #f1cdf1; /* Color del texto */
}


/*.cardDieta{

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 680px;
    height: 300px;
    background-color: #f1cdf1;

}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    color:rgb(22, 6, 249);  
    
}

seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-margin{
    margin-right: 10px;
}




table{

    border-style:solid ;
    border-collapse: collapse;
    border-color: rgb(22, 6, 249);  ; 
    margin: auto;

}

.moradoOscuro{
    background-color: rgb(22, 6, 249);  ; 
    color: #f1cdf1;
    border:solid;
    border-collapse: collapse;
    border-color: #f1cdf1;
    border-left-color: rgb(22, 6, 249);  ;

  

}

.primeraFila{
    background-color: rgb(22, 6, 249);  ; 
    color: #f1cdf1;
}



td{
    border:solid;
    border-collapse: collapse;
    border-color: rgb(22, 6, 249);  ;


}

th{
    border:solid;
    border-collapse: collapse;
    border-bottom-color: rgb(22, 6, 249);  ;
    border-top-color: rgb(22, 6, 249);  ;
    
}

.ultimaCeldaTabla{
    border:solid;
    border-collapse: collapse;
    border-bottom-color: rgb(22, 6, 249);  ;
    border-right-color: rgb(22, 6, 249);  ;
    border-top-color: rgb(22, 6, 249);  ;

}

.primeraCeldaTabla{

    border:solid;
    border-collapse: collapse;
    border-bottom-color: #f1cdf1;
    border-left-color: rgb(22, 6, 249);  ;
    border-top-color: rgb(22, 6, 249);  ;
}
*/